/* Colors */
:root {
    --black: #000000;
    --dark-blue: #14213d;
    --yellow: #fca311; 
    --light-gray: #e5e5e5;
    --white: #ffffff;
}

/* Start main */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

/* Hero text */
#hero-div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    background-color: var(--dark-blue);
    color: var(--light-gray);
    font-size: 50px;
    padding: 100px 0px 100px 0px;
}

/* Coding video */
#coding-video-div {
    width: 100%; 
    height: 600px; 
    overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: center;
}

#coding-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Links in main */
#main-links-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 30px 0px 50px 0px;
}

#main-links-div>a {
    margin-top: 30px;
    margin-right: 0;

    font-size: 60px;
}

/* End main */

