/* Start root and body */

:root {
    --black: #000000;
    --dark-blue: #14213d;
    --yellow: #fca311; 
    --light-gray: #e5e5e5;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

body {
    font-family: "Raleway", sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}


/* End root and body */

/* Start nav */

nav {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;

    background-color: var(--yellow);
}

#logo-div>a {
    text-decoration: none;
    color: var(--black);
    font-weight: 800;
    font-size: 40px;
    padding-left: 2vw;
    transition: 0.5s;
}

#links-animated {
    text-decoration: none;
    color: var(--black);
    margin-right: 2vw;
    font-size: 25px;
    position: relative;
}

/* Animasjoner til linkene i nav */

#links-animated::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0%;
    background-color: var(--black);
    bottom: 0;
    left: 0;
    transition: 0.4s ease, 0.4s ease;
}

#links-animated:hover::after {
    width: 100%;
    left: 0;
}

/* End nav */

/* Start footer */

footer {
    background-color: var(--light-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80px;
    flex-shrink: 0;
}

#footer-content {
    width: 50vw;
    color: var(--black);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#footer-content>a {
    text-decoration: none;
    color: var(--black);
}

/* End footer */

/* Start Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--yellow);
}

::-webkit-scrollbar-track {
    background: var(--light-gray);
}

/* End Scrollbar */

/* Start media queries */

 @media screen and (max-width: 800px) {
    #logo-div>a {
        font-size: 30px;
    }

    #nav-links-div {
        display: flex;
        flex-direction: column;
    }
 }

/* End media queries */
